In [29]:
import pandas as pd

In [30]:
xl_file = pd.read_excel("energy_consumption_noheader.xlsx")
# dfs = (sheet_name: xl_file.parse(sheet_name)
#  for sheet_name in xl_file.sheet_names)
xl_file.head()

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,AK,10189,10787,11546,12335,14082,15020,16611,17607,19393,...,53668,53536,52253,53939,54597,48810,47823,53136,50890,53128
1,AL,124894,121253,132329,140993,148042,147307,153849,155314,187648,...,388089,372777,419301,377607,338204,358286,378853,349230,341258,323484
2,AR,80587,80624,82565,85776,93756,90025,110858,113653,124499,...,236596,226788,253876,247420,221966,241040,246790,228572,213593,202066
3,AZ,48824,51198,48300,52660,60457,58339,63080,66568,72096,...,385448,373837,376648,391384,378761,389506,377956,385464,391659,401375
4,CA,595971,619172,677892,711654,792464,841483,870428,932522,948310,...,1511903,1483947,1466635,1500559,1437866,1436370,1355025,1347738,1379721,1415536

In [31]:
from pandas import read_excel
#find your sheet name at the bottom left of your excel file and assign
#it to my_sheet
my_sheet = 'Residential Sector'
file_name = 'energy_consumption_noheader.xlsx' # name of your excel file
df= read_excel (file_name, sheet_name = my_sheet)
df = df.iloc[1:]
df

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,AL,124894,121253,132329,140993,148042,147307,153849,155314,187648,...,388089,372777,419301,377607,338204,358286,378853,349230,341258,323484
2,AR,80587,80624,82565,85776,93756,90025,110858,113653,124499,...,236596,226788,253876,247420,221966,241040,246790,228572,213593,202066
3,AZ,48824,51198,48300,52660,60457,58339,63080,66568,72096,...,385448,373837,376648,391384,378761,389506,377956,385464,391659,401375
4,CA,595971,619172,677892,711654,792464,841483,870428,932522,948310,...,1511903,1483947,1466635,1500559,1437866,1436370,1355025,1347738,1379721,1415536
5,CO,92060,97088,100221,92335,106220,107148,123088,123703,136344,...,347929,339581,352315,354262,334949,363368,353334,347376,348308,343326
6,CT,157365,158725,158566,159556,152440,160492,159047,165908,176332,...,255154,253181,251431,238420,232717,247889,248117,251759,226700,229922
7,DC,24272,24123,25044,25394,25872,26781,27190,29431,31325,...,36837,37887,38990,35957,34620,36755,38467,42435,39208,38383
8,DE,25439,24991,27408,29833,28327,29678,31441,32524,35342,...,68590,68690,72454,67909,62023,64893,66613,65664,60458,59717
9,FL,129053,137145,150443,167376,179779,186904,210892,218800,256943,...,1217069,1222969,1271788,1191486,1128072,1147258,1177069,1207445,1205132,1175959
10,GA,162882,162296,168426,176197,187870,190611,207099,214257,234024,...,738103,726611,819902,747018,671540,686907,741983,697028,709148,666011
11,HI,7144,7337,7736,8699,9378,9876,10500,11721,12638,...,33424,33307,32681,32506,31530,30848,31407,31568,32500,34017
12,IA,160974,162441,172500,172800,174641,184889,181349,191288,200030,...,255692,246361,248966,246130,223943,253112,253915,226772,227802,220605
13,ID,36975,37156,38191,38300,40566,39970,40547,47048,48483,...,135864,127602,120862,125277,116596,127031,119891,122911,122834,134471
14,IL,584516,601027,636947,636969,660030,694500,727438,756277,784335,...,1028255,975657,996868,979617,914110,1010104,1031195,924261,923529,891635
15,IN,281836,288808,305346,303701,306681,317961,337291,356455,379447,...,591137,559084,582524,557600,519935,568940,582543,535027,525453,497840
16,KS,123860,136679,140904,137445,140419,149826,148856,145678,158488,...,242178,239275,248148,245306,220897,235882,240294,221062,213160,205544
17,KY,135191,131326,133516,140562,139649,144459,143499,160904,185140,...,393659,383398,412714,383276,361423,384824,393757,360090,354150,331991
18,LA,107732,109387,119282,127030,141088,136457,150239,162592,178110,...,346802,352882,385715,370693,338328,343118,348374,333488,316148,312431
19,MA,346707,356044,367583,357513,352618,379234,357928,387052,400887,...,431612,424472,436770,424840,404835,422023,438254,435994,396192,409530
20,MD,142516,152468,159685,165751,171019,175622,182280,197115,210508,...,424586,425613,451052,418905,399706,429677,439759,424674,407177,386266
21,ME,63480,71491,71422,74783,67060,68536,65260,72929,76945,...,88151,90439,88688,87784,81328,85006,91333,107360,96576,99557
22,MI,483136,504210,526026,525127,525917,560201,592001,622419,651287,...,807819,755413,751556,763365,701620,771793,788441,741962,731109,724775
23,MN,196677,201780,211538,209265,218960,239221,254460,255912,270724,...,420527,407142,400272,398746,375572,416512,431646,379915,375441,385911
24,MO,232969,236252,242911,242103,244123,252149,264156,270966,288981,...,549388,527322,564128,540462,491512,537004,559922,497757,492686,470603
25,MS,85738,83480,88751,91787,97083,96252,106668,105957,120612,...,228528,221210,240412,229193,194198,211025,217710,196603,187472,178257
26,MT,37119,38245,38402,37815,40442,41875,42411,42889,44218,...,90799,88209,83811,87059,80445,85101,87262,89193,88904,95625
27,NC,234706,242574,255496,256616,252220,259571,281752,288975,311780,...,738333,735632,809950,737732,675269,689828,721520,689950,688250,649395
28,ND,31085,30571,32208,32383,32285,30668,34471,34564,36562,...,69395,68577,65624,68235,64215,73222,78388,69941,67797,69103
29,NE,78554,80599,85934,84604,89190,95729,101574,101619,107688,...,165213,158710,163725,160922,146988,163581,163525,148592,148334,146189
30,NH,40068,45726,48294,50924,47462,48988,48334,53183,57319,...,87649,90635,88334,87549,81139,92547,97606,101091,94297,99843
31,NJ,309972,332950,347263,368295,376111,392763,410786,438912,458130,...,603410,590417,597860,575584,539163,583831,595380,581657,538379,536042
32,NM,43094,46511,47429,51286,51185,48744,54578,57481,59855,...,119993,115245,120215,120598,115587,122822,116568,117554,117659,112004
33,NV,14034,14910,16490,21041,26140,24193,26825,27349,28709,...,161213,154554,154566,154767,152694,159674,151032,151761,157992,164799
34,NY,727917,775541,822108,835972,843857,898307,935058,949794,991398,...,1151282,1077868,1090071,1070428,1020584,1067305,1120651,1136625,1053216,1054711
35,OH,629546,636231,665748,677554,677707,714493,759540,779155,799498,...,966849,931135,955557,939265,862547,912224,950116,894251,870981,838689
36,OK,114993,118599,125391,131659,137721,138729,145558,147022,164642,...,306245,298554,327793,324911,290128,322764,325274,293942,283069,273832
37,OR,108371,109638,114791,121071,132845,131610,136924,140142,147991,...,258426,260035,245707,263871,245423,256182,245659,231713,240018,264152
38,PA,692826,689269,706293,711172,706483,720648,741853,766458,794771,...,1015210,921625,947395,925964,864195,932763,970346,947985,896648,870554
39,RI,52537,52323,52315,52879,47353,52060,51248,55316,58385,...,60977,61306,62065,59994,59640,66336,65952,67999,58060,56517
40,SC,107935,107977,115149,114521,114937,109146,116021,120756,132951,...,367753,360635,403448,370071,339838,351411,376892,364063,367958,350866
41,SD,33061,33837,35599,35513,37185,36783,36625,36084,39391,...,72725,72355,71664,71328,63084,73380,73281,66496,66406,66941
42,TN,185340,182867,196375,208968,209143,217082,236178,239742,266820,...,562891,533143,604605,562714,497970,531238,562116,535307,529617,496823
43,TX,361564,356569,415619,440343,452851,461103,490615,521366,568295,...,1580834,1589406,1687043,1745786,1599536,1684133,1709452,1689588,1656795,1640607
44,UT,42296,45079,49329,47719,52213,49026,54604,58376,60714,...,163049,161450,164005,169658,160832,174921,159065,158733,166206,174730
45,VA,192104,198615,205750,213368,211239,221208,241512,252210,269692,...,646293,638429,683493,633109,579610,625589,643199,611356,578596,553776
46,VT,26582,29575,30740,31199,29962,34010,36666,38414,40949,...,43105,49573,48033,46988,37424,41990,44370,46200,42468,43325
47,WA,176001,177510,182237,187631,201920,201449,213034,216596,237249,...,510528,515010,491360,511673,479506,494023,481639,450815,454319,504107
48,WI,249866,262439,273564,272845,271892,288621,304349,326967,333603,...,459822,428277,427722,427450,396635,443819,451636,417201,412498,414026
49,WV,86520,87294,91023,94807,93780,94169,100318,102602,108616,...,166599,172744,181877,171031,159420,173682,178596,161181,155467,143794
50,WY,16111,17291,18306,16297,18093,18468,19860,20904,22335,...,49374,47842,47534,49225,45131,49130,48016,47882,49020,51239
51,US,9033190,9280028,9776931,9982426,10232757,10632381,11156752,11631475,12330437,...,21634977,21050345,21860403,21345572,19827852,21019479,21418011,20586368,20151259,19864029

In [1]:
{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {
    "Collapsed": "false"
   },
   "source": [
    "# Convert birdsong.csv to SQL"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "metadata": {
    "Collapsed": "false"
   },
   "outputs": [],
   "source": [
    "# imports\n",
    "import pandas as pd\n",
    "import os"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {
    "Collapsed": "false"
   },
   "source": [
    "## Set the table name\n",
    "\n",
    "It as assumed that the input CSV is named this, with a '.csv' extension."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "metadata": {
    "Collapsed": "false"
   },
   "outputs": [],
   "source": [
    "table = 'WordAssociation_BC'"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {
    "Collapsed": "false"
   },
   "source": [
    "## Read the CSV"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "metadata": {
    "Collapsed": "false"
   },
   "outputs": [],
   "source": [
    "# read CSV\n",
    "filename = table + '.csv'\n",
    "data_df = pd.read_csv(filename)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "metadata": {
    "Collapsed": "false"
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>author</th>\n",
       "      <th>word1</th>\n",
       "      <th>word2</th>\n",
       "      <th>source</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>390</td>\n",
       "      <td>substantiate</td>\n",
       "      <td>authenticate</td>\n",
       "      <td>BC</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>663</td>\n",
       "      <td>speed limit</td>\n",
       "      <td>laws</td>\n",
       "      <td>BC</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>331</td>\n",
       "      <td>britches</td>\n",
       "      <td>buckle</td>\n",
       "      <td>BC</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>341</td>\n",
       "      <td>tatonka</td>\n",
       "      <td>tonka</td>\n",
       "      <td>BC</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>635</td>\n",
       "      <td>evidence</td>\n",
       "      <td>deed</td>\n",
       "      <td>BC</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   author         word1         word2 source\n",
       "0     390  substantiate  authenticate     BC\n",
       "1     663   speed limit          laws     BC\n",
       "2     331      britches        buckle     BC\n",
       "3     341       tatonka         tonka     BC\n",
       "4     635      evidence          deed     BC"
      ]
     },
     "execution_count": 15,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "data_df.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {
    "Collapsed": "false"
   },
   "source": [
    "## Convert the DataFrame to SQL\n",
    "\n",
    "Quote everything because the database will do the type conversion."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "metadata": {
    "Collapsed": "false"
   },
   "outputs": [],
   "source": [
    "# create SQL\n",
    "rows = len(data_df)\n",
    "lines = []\n",
    "\n",
    "# header \n",
    "header = str(list(data_df.columns)).replace('[','').replace(']','').replace(\"'\",'')\n",
    "lines.append(f'-- Insert data into the table\\n')\n",
    "lines.append(f'INSERT INTO birdsong ({header})\\n')\n",
    "lines.append(f'VALUES\\n')\n",
    "\n",
    "# for each row in the dataframe\n",
    "for (i, row) in data_df.iterrows():\n",
    "    \n",
    "    # start line\n",
    "    line = '('\n",
    "    \n",
    "    # add each column in this row\n",
    "    for j in range(len(row)):\n",
    "        if j < len(row)-1:\n",
    "            line += '\\'' + str(row[j]) + '\\','\n",
    "        else:\n",
    "            line += '\\'' + str(row[j]) + '\\''\n",
    "                \n",
    "    # finish line\n",
    "    if i < rows-1:\n",
    "        # append ',' and end line\n",
    "        line += '),\\n'\n",
    "    else:\n",
    "        # append ';' and end line\n",
    "        line += ');\\n'\n",
    "        \n",
    "    # add line to lines\n",
    "    lines.append(line)\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {
    "Collapsed": "false"
   },
   "source": [
    "## Write the SQL to a file\n",
    "\n",
    "We will use the table name + a '.sql' extension."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "metadata": {
    "Collapsed": "false"
   },
   "outputs": [],
   "source": [
    "# write lines to file\n",
    "with open(table + '.sql', 'w') as out:\n",
    "    out.writelines(lines)"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python [conda env:root] *",
   "language": "python",
   "name": "conda-root-py"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 4
}

{'cells': [{'cell_type': 'markdown',
   'metadata': {'Collapsed': 'false'},
   'source': ['# Convert birdsong.csv to SQL']},
  {'cell_type': 'code',
   'execution_count': 12,
   'metadata': {'Collapsed': 'false'},
   'outputs': [],
   'source': ['# imports\n', 'import pandas as pd\n', 'import os']},
  {'cell_type': 'markdown',
   'metadata': {'Collapsed': 'false'},
   'source': ['## Set the table name\n',
    '\n',
    "It as assumed that the input CSV is named this, with a '.csv' extension."]},
  {'cell_type': 'code',
   'execution_count': 13,
   'metadata': {'Collapsed': 'false'},
   'outputs': [],
   'source': ["table = 'WordAssociation_BC'"]},
  {'cell_type': 'markdown',
   'metadata': {'Collapsed': 'false'},
   'source': ['## Read the CSV']},
  {'cell_type': 'code',
   'execution_count': 14,
   'metadata': {'Collapsed': 'false'},
   'outputs': [],
   'source': ['# read CSV\n',
    "filename = table + '.csv'\n",
    'data_df = pd.read_csv(filename)']},
  {'cell_type': 'code',
   'execution_count': 15,
   'metadata': {'Collapsed': 'false'},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>author</th>\n',
       '      <th>word1</th>\n',
       '      <th>word2</th>\n',
       '      <th>source</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>390</td>\n',
       '      <td>substantiate</td>\n',
       '      <td>authenticate</td>\n',
       '      <td>BC</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>663</td>\n',
       '      <td>speed limit</td>\n',
       '      <td>laws</td>\n',
       '      <td>BC</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>331</td>\n',
       '      <td>britches</td>\n',
       '      <td>buckle</td>\n',
       '      <td>BC</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>341</td>\n',
       '      <td>tatonka</td>\n',
       '      <td>tonka</td>\n',
       '      <td>BC</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>635</td>\n',
       '      <td>evidence</td>\n',
       '      <td>deed</td>\n',
       '      <td>BC</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['   author         word1         word2 source\n',
       '0     390  substantiate  authenticate     BC\n',
       '1     663   speed limit          laws     BC\n',
       '2     331      britches        buckle     BC\n',
       '3     341       tatonka         tonka     BC\n',
       '4     635      evidence          deed     BC']},
     'execution_count': 15,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['data_df.head()']},
  {'cell_type': 'markdown',
   'metadata': {'Collapsed': 'false'},
   'source': ['## Convert the DataFrame to SQL\n',
    '\n',
    'Quote everything because the database will do the type conversion.']},
  {'cell_type': 'code',
   'execution_count': 16,
   'metadata': {'Collapsed': 'false'},
   'outputs': [],
   'source': ['# create SQL\n',
    'rows = len(data_df)\n',
    'lines = []\n',
    '\n',
    '# header \n',
    'header = str(list(data_df.columns)).replace(\'[\',\'\').replace(\']\',\'\').replace("\'",\'\')\n',
    "lines.append(f'-- Insert data into the table\\n')\n",
    "lines.append(f'INSERT INTO birdsong ({header})\\n')\n",
    "lines.append(f'VALUES\\n')\n",
    '\n',
    '# for each row in the dataframe\n',
    'for (i, row) in data_df.iterrows():\n',
    '    \n',
    '    # start line\n',
    "    line = '('\n",
    '    \n',
    '    # add each column in this row\n',
    '    for j in range(len(row)):\n',
    '        if j < len(row)-1:\n',
    "            line += '\\'' + str(row[j]) + '\\','\n",
    '        else:\n',
    "            line += '\\'' + str(row[j]) + '\\''\n",
    '                \n',
    '    # finish line\n',
    '    if i < rows-1:\n',
    "        # append ',' and end line\n",
    "        line += '),\\n'\n",
    '    else:\n',
    "        # append ';' and end line\n",
    "        line += ');\\n'\n",
    '        \n',
    '    # add line to lines\n',
    '    lines.append(line)\n']},
  {'cell_type': 'markdown',
   'metadata': {'Collapsed': 'false'},
   'source': ['## Write the SQL to a file\n',
    '\n',
    "We will use the table name + a '.sql' extension."]},
  {'cell_type': 'code',
   'execution_count': 17,
   'metadata': {'Collapsed': 'false'},
   'outputs': [],
   'source': ['# write lines to file\n',
    "with open(table + '.sql', 'w') as out:\n",
    '    out.writelines(lines)']}],
 'metadata': {'kernelspec': {'display_name': 'Python [conda env:root] *',
   'language': 'python',
   'name': 'conda-root-py'},
  'language_info': {'codemirror_mode': {'name': 'ipython', 'version': 3},
   'file_extension': '.py',
   'mimetype': 'text/x-python',
   'name': 'python',
   'nbconvert_exporter': 'python',
   'pygments_lexer': 'ipython3',
   'version': '3.7.6'}},
 'nbformat': 4,
 'nbformat_minor': 4}